<h1>Livros</h1>
<div>
  <% @books.each do |book| %>
  <div>
    <ul>
      <li><%= book.name %>, <%= book.author %></li>
      <li><%= number_to_currency(book.price) %>, Desconto: <%= number_to_percentage(book.discount, precision: 2) %></li>
    </ul>
  </div>
  <% end %>
</div>
