<h1>Meus Livros</h1>
<div>
  <ul>
    <li><%= link_to 'Apagar Lista', destroy_all_clients_books_path, method: :delete , data: { confirm: 'Are you sure?' }%></li>
  </ul>
  <% @books.each do |book| %>
  <div>
    <ul>
      <li><%= book.name %>, <%= book.author %></li>
      <li><%= number_to_currency(@books_client.find_by(book: book).final_price) %></li>
    </ul>
  </div>
  <% end %>
</div>